@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
  margin: 0px;
  padding: 0px;
  font-family: 'Montserrat', sans-serif;
}
body{
 width: 100vw;
 height: 100vh;
 display: flex;
 flex-direction: column;
}

.banner{
  height: 20%;
  display: grid;
  place-items: center;
}

.container{
 display: flex;
 align-items: center;
 justify-content: space-evenly;
 width: 100%;
}

.boardOne,
.boardTwo {
  aspect-ratio: 1/1;
  width: 35%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  place-items: center;
}

.box{
  aspect-ratio: 1/1;
  width: 85%;
  border: solid black 1px;
}

.colour{
  background-color: blcak;
}