@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

*{
  margin: 0px;
  padding: 0px;
  font-family: 'Montserrat', sans-serif;
}
body{
 width: 100vw;
 height: 100vh;
 display: flex;
 flex-direction: column;

}

.banner{
  height: 20%;
  display: grid;
  place-items: center;
}

.container{
 display: flex;
 align-items: center;
 justify-content: space-evenly;
 width: 100%;
}

.footer{
  display: grid;
  place-items: center;
  height: 20%;
}

.boardOne,
.boardTwo {
  aspect-ratio: 1/1;
  width: 30%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  place-items: center;
  position: relative;
}
.boardOne::after{
  content: 'Your ships';
  position: absolute;
  bottom:-17px;
  left: 1%;
}
.boardTwo::after{
  content: 'Attack here';
  position: absolute;
  bottom:-17px;
  left: 1%;
}
.box{
  aspect-ratio: 1/1;
  width: 85%;
  border: solid black 1px;
}

.start,
.end{
  height: 50%;
  width: calc(100vh / 3);
  border-radius: .5rem;
  border: 2px solid black;
  background-color: white;
  font-weight: 600;
}

.shipHolder{
  height: calc( (100vw / 100 * 30) - 4px );
  width: 10%;
  display: grid;
  grid-template-rows: 40% repeat(5, 1fr);
}

.top{
  width: 100%;
  display: grid;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 30%;
  text-align: center;
  color: black;
}
.ship{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin: 0px 10px;
}

.part{
  width:100%;
  aspect-ratio: 1/1;
  background-color: black;
}

.ship:last-child{
  margin-bottom: 25%;
}

.one{
  position: absolute;
  top: 5%;
  left: 5%;
  width: 20%;
}

.two{
  position: absolute;
  bottom: 5%;
  right: 5%;
  width: 20%;
  transform: rotate(180deg);
}